{% extends 'base.html' %}

{% block container %}
<div id="background">
	<div id="home" style="opacity: 1">
		<h1 class='title'>BuildnShoot</h1>
		<form>
			<input id="nickname" type="text" placeholder="Nickname" maxlength="20"><br/>
			{% if player != null: %}
		
			{% endif %}
			<button id="play">Play</button>
		</form>
		<div id="banner">
			<p>BUILD! &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp SHOOT! &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DESTROY!</p>
		</div>
	</div>
	<div id="load">
		<h2>Gather pellets and kill enemies to move down the alphabet and become a Z!</h2>
	</div>
	<div id="map">
		<div class='wall-top'></div>
		<div class='wall-right'></div>
		<div class='wall-left'></div>
		<div class='wall-bottom'></div>
	</div>
	<div id="stats">
	</div>
	<div id="controls">
			<p>WASD / Arrows = Move &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp SPACEBAR = Shoot &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Click / Shift+Drag = Build</p>
		</div>
</div>

{% endblock %}